apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: books
spec:
  selector: { app: postgres }
  ports:
    - port: 5432
      targetPort: 5432
---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: books
spec:
  selector: { app: api }
  ports:
    - port: 80         
      targetPort: 3001