name: ci
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build and push API
        uses: docker/build-push-action@v6
        with:
          context: ./server
          tags: ghcr.io/${{ github.repository_owner }}/bookscrude-api:sha-${{ github.sha }}
          push: true
          cache-from: type=gha
          cache-to: type=gha, mode=max
  build_web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push web
        id: build_api
        uses: docker/build-push-action@v6
        with:
          context: ./client
          file: ./client/Dockerfile.nginx
          tags: ghcr.io/${{ github.repository_owner }}/bookscrude-web:sha-${{ github.sha }}
          push: true
          cache-from: type=gha
          cache-to: type=gha, mode=max
