name: ci
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Lowercase owner
        shell: bash
        run: echo "OWNER_LC=${OWNER@L}" >> "$GITHUB_ENV"
        env:
          OWNER: ${{ github.repository_owner }}
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Trivy scan API
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: ghcr.io/${{ env.OWNER_LC }}/bookscrude-api:sha-${{ github.sha }}
          vuln-type: 'os,library'
          severity: 'HIGH,CRITICAL'
          ignore-unfixed: true
          exit-code: '1'
      - name: build and push API
        uses: docker/build-push-action@v6
        with:
          context: ./server
          tags: ghcr.io/${{ env.OWNER_LC }}/bookscrude-api:sha-${{ github.sha }}
          push: true
          cache-from: type=gha
          cache-to: type=gha, mode=max
  build_web:
    runs-on: ubuntu-latest
    steps:
      - name: Lowercase owner
        shell: bash
        run: echo "OWNER_LC=${OWNER@L}" >> "$GITHUB_ENV"
        env:
          OWNER: ${{ github.repository_owner }}
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push web
        id: build_api
        uses: docker/build-push-action@v6
        with:
          context: ./client
          file: ./client/Dockerfile.nginx
          tags: ghcr.io/${{ env.OWNER_LC }}/bookscrude-web:sha-${{ github.sha }}
          push: true
          cache-from: type=gha
          cache-to: type=gha, mode=max
      - name: Docker metadata
        id: meta #meta irony
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ env.OWNER_LC }}/bookscrude-api
          tags: type=sha
          labels: |
            org.opencontainers.image.source=${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
